@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

* 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
}

body 
{
    background-color: #000000;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    padding: 0px;
    margin: 0px;
    font-weight: 600;

    color: #FFFFFF;
}

.messageBox
{
	color: #FFD700;
	font-size: 12px;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	/*height: 400px;*/
    background: -webkit-radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    background: -o-radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    background: -moz-radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    background: radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    box-shadow: 0 0 0 1px hsla(210, 65%, 49%, 0.3), 0 0 0 3px hsla(225, 100%, 61%, 0.3);
}

#messageBoxPadder
{
	padding: 12px;
}

#speakerSpeech
{
	padding-top: 5px;
	padding-left: 5px;
	color: #FFFFFF !important;
	font-size: 12px;
}

#speakerName
{
	text-decoration: underline;
}

input[type='text'], input[type='password']
{
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	border-bottom: .5px solid #FFFFFF;
	outline: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	width: 80px;
	height: 15px;
}

button, .button
{
    cursor: pointer;
    width: 180px !important; /* 1.) change its value in main.js & 2.) change its value in #selectedAccount */
    height: 24px;
    font-size: 11px;
    padding-left: 30px;
    text-align: left;
    font-weight: 300;
    color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid rgba(44, 123, 204, 0.5);
    background: -webkit-radial-gradient(rgba(51, 173, 255, 0.1), rgba(51, 173, 255, 0.4));
    background: -o-radial-gradient(rgba(51, 173, 255, 0.1), rgba(51, 173, 255, 0.4));
    background: -moz-radial-gradient(rgba(51, 173, 255, 0.1), rgba(51, 173, 255, 0.4));
    background: radial-gradient(rgba(51, 173, 255, 0.1), rgba(51, 173, 255, 0.4));
}
button:hover
{
    background: -webkit-radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    background: -o-radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    background: -moz-radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
    background: radial-gradient(rgba(0, 31, 122, 0.1), rgba(0, 31, 122, 0.5));
}

.launchPicture
{
	height: 19px;
	width: 19px;
	position: absolute;
	margin-top: 0px;
	right: 10%;
}

#submitUsername
{
	display: none;
	position: relative;
	padding: 0px !important;
	text-align: center !important;
}

#alreadyRegistered
{
	display: none;
	position: relative;
	padding: 0px !important;
	text-align: center !important;
}